<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Add Position</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <div class="card-header">
        <a href="/position/showPosition"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-left"><polyline points="9 10 4 15 9 20"></polyline><path d="M20 4v7a4 4 0 0 1-4 4H4"></path></svg>Back</a>
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/position/processPosition}" th:object="${position}" method="POST">
            <div class="form-group">
                <label for="positionName">Position Name</label>
                <input type="text" class="form-control" th:field="*{positionName}" id="positionName" placeholder="Position Name" required>
            </div>
            <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item" th:each="dutyName : ${dutyList}">
                    <input type="checkbox" name="dutyList" th:field="*{duty}" th:value="${dutyName.id}"/>
                    <label th:text="${dutyName.DutyName}"></label>
                </li>
            </ul>
            </div>
            <input class="btn btn-info" type="submit" name="add" value="Add Position"/>
        </form>
    </div>
    </body>
</html>